# Environment example - copy to .env.local and edit

MINECRAFT_SERVER=play.dxrery.top:25565
BLUEMAPS_URL=https://vanilla.tvpmc.co.za:26357
DISCORD_INVITE=https://discord.gg/Ubx7Tvu
STORE_URL=https://example.com/store
VOTE_URL=https://example.com/vote

